<section class="about">
  <div class="container">
    <div class="flex__wrapper">
      <div class="about__thumb">
        <div class="icon__wrapper">
          <img src="images/svg/fa-solid_university.svg" alt="university" class="about__icon" />
        </div>

        <h2 class="about__subtitle">Investmant Banking</h2>
        <p class="about__description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!
        </p>
      </div>

      <div class="about__thumb">
        <div class="icon__wrapper">
          <img src="images/svg/fa-solid_book-reader.svg" class="about__icon" alt="book-reader" />
        </div>

        <h2 class="about__subtitle">Portfolio Manager</h2>
        <p class="about__description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!
        </p>
      </div>

      <div class="about__thumb">
        <div class="icon__wrapper">
          <img src="images/svg/fa-solid_pencil-alt.svg" class="about__icon" alt="pencil" />
        </div>

        <h2 class="about__subtitle">Tax & Custudio</h2>
        <p class="about__description about__description--last">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!
        </p>
      </div>
    </div>
  </div>
</section>
