<header class="header">
  <div class="container">
    <nav class="navigation">
      <div class="logo__wrapper">
        <a class="logo" href="./index.html">
          <img src="images/svg/fa-solid_book-open.svg" class="logo__icon" alt="book-open" />
          <span class="accent">Finance</span>Ledger</a
        >
      </div>

      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#home">Home</a>
        </li>

        <li class="navigation__item">
          <a class="navigation__link" href="#about">About</a>
        </li>

        <li class="navigation__item">
          <a class="navigation__link" href="#cases">Cases</a>
        </li>

        <li class="navigation__item">
          <a class="navigation__link" href="#blog">Blog</a>
        </li>

        <li class="navigation__item">
          <a class="navigation__link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
